body {
    background-color: black;
}
.card {
    background-color: transparent !important;
    border: 1px solid #28a745 !important;
    
}
.card-title {
    color: darkgray;
}
.list-group-item  {
    background-color: transparent !important;
    border-bottom-color: currentColor; 
    color: darkgray;
}
.jumbotron {
    background-color: transparent !important;
}
.text-center {
    color: #28a745;
}