/** SOME STYLING CSS, OVERWRITING STANDARD BOOTSRAP **/

body {
    background-color: black !important;
}
.card {
    background-color: transparent !important;
    border: 1px solid #28a745 !important;
    
}
.card-title {
    color: darkgray !important;
}
.list-group-item  {
    background-color: transparent !important;
    border-bottom-color: currentColor !important; 
    color: darkgray !important;
}
.jumbotron {
    background-color: transparent !important;
}
.text-center {
    color: #28a745 !important;
}