/* * SOME STYLING CSS, OVERWRITING STANDARD BOOTSRAP * */

body {
    
    background: black !important;
}
.container-fluid {
    display: grid;
    justify-content: center;
}
.container {
    display: grid !important;
    
}

.row {
    display: grid !important;
    justify-content: center !important;
    width: fit-content !important;
}

.card {
    background-color: transparent !important;
    border: 1px solid #28a745 !important;
    
}
.card-body{
    padding: 1rem;
}
.card-title {
    color: darkgray !important;
    border-bottom: none !important;
}
.employee-card {
    border: none !important;
}
.list-group-item  {
    background-color: transparent !important;
    border-bottom-color: currentColor !important; 
    color: darkgray !important;
    margin-bottom: 10px;
}
.jumbotron {
    background-color: transparent !important;
}
.text-center {
    color: #28a745 !important;
}

  @media (max-width: 576px) {
    .team-area {
      flex-direction: column;
    }
    .card {
        margin-bottom: 15px;
    }
    .container {
        display: flex;
        justify-content: center;
    }
  }
  