* SOME STYLING CSS, OVERWRITING STANDARD BOOTSRAP *

body {
    background-color: black !important;
}

.row {
    display: grid !important;
    justify-content: center !important;
}

.card {
    background-color: transparent !important;
    border: 1px solid #28a745 !important;
    
}
.card-title {
    color: darkgray !important;
}
.list-group-item  {
    background-color: transparent !important;
    border-bottom-color: currentColor !important; 
    color: darkgray !important;
}
.jumbotron {
    background-color: transparent !important;
}
.text-center {
    color: #28a745 !important;
}

@media (min-width: 750px) {
  
  
    .team-area.d-flex {
      display: none;
    }
  }
  